{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "@portto/eslint-config-portto/node",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@babel", "@typescript-eslint"],
  "rules": {
    "@babel/semi": ["error"],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
   ]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "settings": {
    "import/resolver": {
      "babel-module": {},
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}
